<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>A</key>
      <integer>58</integer>
      <key>J</key>
      <integer>40</integer>
      <key>T</key>
      <integer>-111</integer>
      <key>V</key>
      <integer>-58</integer>
      <key>W</key>
      <integer>-24</integer>
      <key>X</key>
      <integer>54</integer>
      <key>Y</key>
      <integer>-108</integer>
      <key>Z</key>
      <integer>59</integer>
      <key>a</key>
      <integer>28</integer>
      <key>j</key>
      <integer>28</integer>
      <key>p</key>
      <integer>24</integer>
      <key>s</key>
      <integer>37</integer>
      <key>x</key>
      <integer>48</integer>
      <key>y</key>
      <integer>20</integer>
      <key>z</key>
      <integer>54</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>I</key>
      <integer>21</integer>
      <key>W</key>
      <integer>24</integer>
      <key>Y</key>
      <integer>-20</integer>
      <key>f</key>
      <integer>28</integer>
      <key>t</key>
      <integer>39</integer>
      <key>w</key>
      <integer>26</integer>
      <key>x</key>
      <integer>28</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>C</key>
      <integer>34</integer>
      <key>D</key>
      <integer>34</integer>
      <key>G</key>
      <integer>34</integer>
      <key>I</key>
      <integer>43</integer>
      <key>K</key>
      <integer>31</integer>
      <key>L</key>
      <integer>30</integer>
      <key>M</key>
      <integer>35</integer>
      <key>O</key>
      <integer>39</integer>
      <key>Q</key>
      <integer>38</integer>
      <key>T</key>
      <integer>-33</integer>
      <key>U</key>
      <integer>28</integer>
      <key>W</key>
      <integer>28</integer>
      <key>Y</key>
      <integer>-37</integer>
      <key>a</key>
      <integer>24</integer>
      <key>b</key>
      <integer>40</integer>
      <key>c</key>
      <integer>30</integer>
      <key>d</key>
      <integer>30</integer>
      <key>e</key>
      <integer>37</integer>
      <key>f</key>
      <integer>53</integer>
      <key>g</key>
      <integer>29</integer>
      <key>h</key>
      <integer>35</integer>
      <key>j</key>
      <integer>43</integer>
      <key>k</key>
      <integer>39</integer>
      <key>m</key>
      <integer>35</integer>
      <key>n</key>
      <integer>27</integer>
      <key>o</key>
      <integer>30</integer>
      <key>p</key>
      <integer>31</integer>
      <key>public.kern2.B</key>
      <integer>33</integer>
      <key>public.kern2.F</key>
      <integer>37</integer>
      <key>public.kern2.i</key>
      <integer>31</integer>
      <key>q</key>
      <integer>28</integer>
      <key>r</key>
      <integer>32</integer>
      <key>s</key>
      <integer>30</integer>
      <key>t</key>
      <integer>50</integer>
      <key>u</key>
      <integer>28</integer>
      <key>v</key>
      <integer>28</integer>
      <key>w</key>
      <integer>38</integer>
      <key>x</key>
      <integer>25</integer>
      <key>y</key>
      <integer>27</integer>
      <key>z</key>
      <integer>26</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>A</key>
      <integer>34</integer>
      <key>I</key>
      <integer>27</integer>
      <key>T</key>
      <integer>50</integer>
      <key>W</key>
      <integer>32</integer>
      <key>X</key>
      <integer>28</integer>
      <key>Z</key>
      <integer>43</integer>
      <key>b</key>
      <integer>24</integer>
      <key>j</key>
      <integer>63</integer>
      <key>k</key>
      <integer>23</integer>
      <key>public.kern2.F</key>
      <integer>21</integer>
      <key>x</key>
      <integer>24</integer>
      <key>z</key>
      <integer>41</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-92</integer>
      <key>J</key>
      <integer>-192</integer>
      <key>S</key>
      <integer>-26</integer>
      <key>T</key>
      <integer>61</integer>
      <key>V</key>
      <integer>31</integer>
      <key>W</key>
      <integer>37</integer>
      <key>Y</key>
      <integer>23</integer>
      <key>Z</key>
      <integer>31</integer>
      <key>a</key>
      <integer>-53</integer>
      <key>c</key>
      <integer>-31</integer>
      <key>d</key>
      <integer>-30</integer>
      <key>e</key>
      <integer>-24</integer>
      <key>g</key>
      <integer>-30</integer>
      <key>m</key>
      <integer>-30</integer>
      <key>n</key>
      <integer>-38</integer>
      <key>o</key>
      <integer>-32</integer>
      <key>p</key>
      <integer>-35</integer>
      <key>q</key>
      <integer>-30</integer>
      <key>r</key>
      <integer>-33</integer>
      <key>s</key>
      <integer>-23</integer>
      <key>u</key>
      <integer>-36</integer>
      <key>v</key>
      <integer>-32</integer>
      <key>w</key>
      <integer>-22</integer>
      <key>x</key>
      <integer>-63</integer>
      <key>y</key>
      <integer>-33</integer>
      <key>z</key>
      <integer>-27</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>C</key>
      <integer>23</integer>
      <key>D</key>
      <integer>45</integer>
      <key>G</key>
      <integer>23</integer>
      <key>I</key>
      <integer>54</integer>
      <key>J</key>
      <integer>32</integer>
      <key>K</key>
      <integer>42</integer>
      <key>L</key>
      <integer>41</integer>
      <key>M</key>
      <integer>46</integer>
      <key>O</key>
      <integer>29</integer>
      <key>Q</key>
      <integer>28</integer>
      <key>T</key>
      <integer>-28</integer>
      <key>U</key>
      <integer>27</integer>
      <key>Y</key>
      <integer>-33</integer>
      <key>Z</key>
      <integer>35</integer>
      <key>a</key>
      <integer>24</integer>
      <key>b</key>
      <integer>51</integer>
      <key>c</key>
      <integer>36</integer>
      <key>d</key>
      <integer>35</integer>
      <key>e</key>
      <integer>42</integer>
      <key>f</key>
      <integer>51</integer>
      <key>g</key>
      <integer>35</integer>
      <key>h</key>
      <integer>46</integer>
      <key>j</key>
      <integer>53</integer>
      <key>k</key>
      <integer>50</integer>
      <key>m</key>
      <integer>51</integer>
      <key>n</key>
      <integer>43</integer>
      <key>o</key>
      <integer>35</integer>
      <key>p</key>
      <integer>47</integer>
      <key>public.kern2.B</key>
      <integer>44</integer>
      <key>public.kern2.F</key>
      <integer>48</integer>
      <key>public.kern2.i</key>
      <integer>41</integer>
      <key>q</key>
      <integer>36</integer>
      <key>r</key>
      <integer>48</integer>
      <key>s</key>
      <integer>27</integer>
      <key>t</key>
      <integer>44</integer>
      <key>u</key>
      <integer>39</integer>
      <key>z</key>
      <integer>23</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>C</key>
      <integer>31</integer>
      <key>D</key>
      <integer>92</integer>
      <key>G</key>
      <integer>32</integer>
      <key>I</key>
      <integer>101</integer>
      <key>K</key>
      <integer>89</integer>
      <key>L</key>
      <integer>88</integer>
      <key>M</key>
      <integer>93</integer>
      <key>O</key>
      <integer>37</integer>
      <key>Q</key>
      <integer>35</integer>
      <key>T</key>
      <integer>22</integer>
      <key>U</key>
      <integer>60</integer>
      <key>W</key>
      <integer>26</integer>
      <key>Z</key>
      <integer>34</integer>
      <key>a</key>
      <integer>21</integer>
      <key>b</key>
      <integer>98</integer>
      <key>c</key>
      <integer>23</integer>
      <key>d</key>
      <integer>23</integer>
      <key>e</key>
      <integer>28</integer>
      <key>f</key>
      <integer>68</integer>
      <key>g</key>
      <integer>27</integer>
      <key>h</key>
      <integer>93</integer>
      <key>j</key>
      <integer>66</integer>
      <key>k</key>
      <integer>97</integer>
      <key>m</key>
      <integer>69</integer>
      <key>n</key>
      <integer>61</integer>
      <key>o</key>
      <integer>21</integer>
      <key>p</key>
      <integer>70</integer>
      <key>public.kern2.B</key>
      <integer>91</integer>
      <key>public.kern2.F</key>
      <integer>95</integer>
      <key>public.kern2.i</key>
      <integer>86</integer>
      <key>q</key>
      <integer>23</integer>
      <key>r</key>
      <integer>66</integer>
      <key>s</key>
      <integer>23</integer>
      <key>t</key>
      <integer>54</integer>
      <key>u</key>
      <integer>50</integer>
      <key>w</key>
      <integer>26</integer>
      <key>x</key>
      <integer>21</integer>
      <key>y</key>
      <integer>20</integer>
      <key>z</key>
      <integer>37</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>C</key>
      <integer>40</integer>
      <key>D</key>
      <integer>101</integer>
      <key>G</key>
      <integer>41</integer>
      <key>I</key>
      <integer>110</integer>
      <key>J</key>
      <integer>26</integer>
      <key>K</key>
      <integer>98</integer>
      <key>L</key>
      <integer>97</integer>
      <key>M</key>
      <integer>102</integer>
      <key>O</key>
      <integer>46</integer>
      <key>Q</key>
      <integer>44</integer>
      <key>S</key>
      <integer>24</integer>
      <key>T</key>
      <integer>31</integer>
      <key>U</key>
      <integer>69</integer>
      <key>V</key>
      <integer>20</integer>
      <key>W</key>
      <integer>35</integer>
      <key>Z</key>
      <integer>43</integer>
      <key>a</key>
      <integer>31</integer>
      <key>b</key>
      <integer>107</integer>
      <key>c</key>
      <integer>32</integer>
      <key>d</key>
      <integer>32</integer>
      <key>e</key>
      <integer>38</integer>
      <key>f</key>
      <integer>78</integer>
      <key>g</key>
      <integer>36</integer>
      <key>h</key>
      <integer>102</integer>
      <key>j</key>
      <integer>75</integer>
      <key>k</key>
      <integer>106</integer>
      <key>m</key>
      <integer>79</integer>
      <key>n</key>
      <integer>71</integer>
      <key>o</key>
      <integer>31</integer>
      <key>p</key>
      <integer>80</integer>
      <key>public.kern2.B</key>
      <integer>100</integer>
      <key>public.kern2.F</key>
      <integer>104</integer>
      <key>public.kern2.i</key>
      <integer>95</integer>
      <key>q</key>
      <integer>33</integer>
      <key>r</key>
      <integer>76</integer>
      <key>s</key>
      <integer>32</integer>
      <key>t</key>
      <integer>63</integer>
      <key>u</key>
      <integer>59</integer>
      <key>v</key>
      <integer>25</integer>
      <key>w</key>
      <integer>35</integer>
      <key>x</key>
      <integer>30</integer>
      <key>y</key>
      <integer>29</integer>
      <key>z</key>
      <integer>46</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>C</key>
      <integer>26</integer>
      <key>D</key>
      <integer>64</integer>
      <key>G</key>
      <integer>27</integer>
      <key>I</key>
      <integer>73</integer>
      <key>K</key>
      <integer>61</integer>
      <key>L</key>
      <integer>60</integer>
      <key>M</key>
      <integer>65</integer>
      <key>O</key>
      <integer>31</integer>
      <key>Q</key>
      <integer>30</integer>
      <key>T</key>
      <integer>21</integer>
      <key>U</key>
      <integer>55</integer>
      <key>W</key>
      <integer>24</integer>
      <key>b</key>
      <integer>70</integer>
      <key>e</key>
      <integer>21</integer>
      <key>f</key>
      <integer>54</integer>
      <key>h</key>
      <integer>65</integer>
      <key>j</key>
      <integer>68</integer>
      <key>k</key>
      <integer>69</integer>
      <key>m</key>
      <integer>41</integer>
      <key>n</key>
      <integer>33</integer>
      <key>p</key>
      <integer>39</integer>
      <key>public.kern2.B</key>
      <integer>63</integer>
      <key>public.kern2.F</key>
      <integer>67</integer>
      <key>public.kern2.i</key>
      <integer>57</integer>
      <key>r</key>
      <integer>38</integer>
      <key>t</key>
      <integer>40</integer>
      <key>u</key>
      <integer>34</integer>
      <key>w</key>
      <integer>23</integer>
      <key>z</key>
      <integer>26</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>A</key>
      <integer>58</integer>
      <key>C</key>
      <integer>-20</integer>
      <key>G</key>
      <integer>-22</integer>
      <key>I</key>
      <integer>24</integer>
      <key>T</key>
      <integer>29</integer>
      <key>V</key>
      <integer>44</integer>
      <key>W</key>
      <integer>46</integer>
      <key>X</key>
      <integer>61</integer>
      <key>Y</key>
      <integer>43</integer>
      <key>Z</key>
      <integer>57</integer>
      <key>b</key>
      <integer>21</integer>
      <key>j</key>
      <integer>34</integer>
      <key>k</key>
      <integer>20</integer>
      <key>v</key>
      <integer>-44</integer>
      <key>w</key>
      <integer>-28</integer>
      <key>x</key>
      <integer>49</integer>
      <key>z</key>
      <integer>51</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>A</key>
      <integer>48</integer>
      <key>C</key>
      <integer>-44</integer>
      <key>G</key>
      <integer>-48</integer>
      <key>I</key>
      <integer>28</integer>
      <key>J</key>
      <integer>29</integer>
      <key>M</key>
      <integer>20</integer>
      <key>O</key>
      <integer>-38</integer>
      <key>Q</key>
      <integer>-41</integer>
      <key>T</key>
      <integer>-125</integer>
      <key>U</key>
      <integer>-35</integer>
      <key>V</key>
      <integer>-131</integer>
      <key>W</key>
      <integer>-62</integer>
      <key>X</key>
      <integer>39</integer>
      <key>Y</key>
      <integer>-150</integer>
      <key>Z</key>
      <integer>75</integer>
      <key>a</key>
      <integer>25</integer>
      <key>b</key>
      <integer>25</integer>
      <key>h</key>
      <integer>20</integer>
      <key>k</key>
      <integer>24</integer>
      <key>m</key>
      <integer>28</integer>
      <key>n</key>
      <integer>20</integer>
      <key>p</key>
      <integer>27</integer>
      <key>public.kern2.F</key>
      <integer>22</integer>
      <key>r</key>
      <integer>25</integer>
      <key>s</key>
      <integer>21</integer>
      <key>v</key>
      <integer>-90</integer>
      <key>w</key>
      <integer>-53</integer>
      <key>x</key>
      <integer>32</integer>
      <key>y</key>
      <integer>-79</integer>
      <key>z</key>
      <integer>66</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>C</key>
      <integer>39</integer>
      <key>D</key>
      <integer>100</integer>
      <key>G</key>
      <integer>40</integer>
      <key>I</key>
      <integer>109</integer>
      <key>J</key>
      <integer>24</integer>
      <key>K</key>
      <integer>97</integer>
      <key>L</key>
      <integer>95</integer>
      <key>M</key>
      <integer>101</integer>
      <key>O</key>
      <integer>45</integer>
      <key>Q</key>
      <integer>43</integer>
      <key>S</key>
      <integer>23</integer>
      <key>T</key>
      <integer>30</integer>
      <key>U</key>
      <integer>68</integer>
      <key>W</key>
      <integer>33</integer>
      <key>Z</key>
      <integer>41</integer>
      <key>a</key>
      <integer>29</integer>
      <key>b</key>
      <integer>106</integer>
      <key>c</key>
      <integer>31</integer>
      <key>d</key>
      <integer>31</integer>
      <key>e</key>
      <integer>36</integer>
      <key>f</key>
      <integer>76</integer>
      <key>g</key>
      <integer>35</integer>
      <key>h</key>
      <integer>101</integer>
      <key>j</key>
      <integer>74</integer>
      <key>k</key>
      <integer>105</integer>
      <key>m</key>
      <integer>77</integer>
      <key>n</key>
      <integer>69</integer>
      <key>o</key>
      <integer>29</integer>
      <key>p</key>
      <integer>78</integer>
      <key>public.kern2.B</key>
      <integer>99</integer>
      <key>public.kern2.F</key>
      <integer>103</integer>
      <key>public.kern2.i</key>
      <integer>94</integer>
      <key>q</key>
      <integer>31</integer>
      <key>r</key>
      <integer>74</integer>
      <key>s</key>
      <integer>31</integer>
      <key>t</key>
      <integer>61</integer>
      <key>u</key>
      <integer>58</integer>
      <key>v</key>
      <integer>24</integer>
      <key>w</key>
      <integer>34</integer>
      <key>x</key>
      <integer>28</integer>
      <key>y</key>
      <integer>28</integer>
      <key>z</key>
      <integer>44</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>C</key>
      <integer>31</integer>
      <key>D</key>
      <integer>93</integer>
      <key>G</key>
      <integer>32</integer>
      <key>I</key>
      <integer>102</integer>
      <key>K</key>
      <integer>90</integer>
      <key>L</key>
      <integer>88</integer>
      <key>M</key>
      <integer>94</integer>
      <key>O</key>
      <integer>37</integer>
      <key>Q</key>
      <integer>36</integer>
      <key>T</key>
      <integer>23</integer>
      <key>U</key>
      <integer>61</integer>
      <key>W</key>
      <integer>26</integer>
      <key>Z</key>
      <integer>34</integer>
      <key>a</key>
      <integer>22</integer>
      <key>b</key>
      <integer>99</integer>
      <key>c</key>
      <integer>23</integer>
      <key>d</key>
      <integer>23</integer>
      <key>e</key>
      <integer>29</integer>
      <key>f</key>
      <integer>69</integer>
      <key>g</key>
      <integer>27</integer>
      <key>h</key>
      <integer>94</integer>
      <key>j</key>
      <integer>67</integer>
      <key>k</key>
      <integer>98</integer>
      <key>m</key>
      <integer>70</integer>
      <key>n</key>
      <integer>62</integer>
      <key>o</key>
      <integer>22</integer>
      <key>p</key>
      <integer>71</integer>
      <key>public.kern2.B</key>
      <integer>92</integer>
      <key>public.kern2.F</key>
      <integer>96</integer>
      <key>public.kern2.i</key>
      <integer>87</integer>
      <key>q</key>
      <integer>24</integer>
      <key>r</key>
      <integer>67</integer>
      <key>s</key>
      <integer>24</integer>
      <key>t</key>
      <integer>54</integer>
      <key>u</key>
      <integer>50</integer>
      <key>w</key>
      <integer>26</integer>
      <key>x</key>
      <integer>21</integer>
      <key>y</key>
      <integer>21</integer>
      <key>z</key>
      <integer>37</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>C</key>
      <integer>40</integer>
      <key>D</key>
      <integer>41</integer>
      <key>G</key>
      <integer>41</integer>
      <key>I</key>
      <integer>50</integer>
      <key>K</key>
      <integer>38</integer>
      <key>L</key>
      <integer>36</integer>
      <key>M</key>
      <integer>42</integer>
      <key>O</key>
      <integer>45</integer>
      <key>Q</key>
      <integer>44</integer>
      <key>T</key>
      <integer>-33</integer>
      <key>U</key>
      <integer>35</integer>
      <key>W</key>
      <integer>33</integer>
      <key>Y</key>
      <integer>-36</integer>
      <key>a</key>
      <integer>24</integer>
      <key>b</key>
      <integer>47</integer>
      <key>c</key>
      <integer>31</integer>
      <key>d</key>
      <integer>33</integer>
      <key>e</key>
      <integer>39</integer>
      <key>f</key>
      <integer>57</integer>
      <key>g</key>
      <integer>33</integer>
      <key>h</key>
      <integer>42</integer>
      <key>j</key>
      <integer>49</integer>
      <key>k</key>
      <integer>46</integer>
      <key>m</key>
      <integer>42</integer>
      <key>n</key>
      <integer>34</integer>
      <key>o</key>
      <integer>32</integer>
      <key>p</key>
      <integer>38</integer>
      <key>public.kern2.B</key>
      <integer>40</integer>
      <key>public.kern2.F</key>
      <integer>44</integer>
      <key>public.kern2.i</key>
      <integer>37</integer>
      <key>q</key>
      <integer>32</integer>
      <key>r</key>
      <integer>39</integer>
      <key>s</key>
      <integer>37</integer>
      <key>t</key>
      <integer>54</integer>
      <key>u</key>
      <integer>35</integer>
      <key>v</key>
      <integer>34</integer>
      <key>w</key>
      <integer>43</integer>
      <key>x</key>
      <integer>30</integer>
      <key>y</key>
      <integer>33</integer>
      <key>z</key>
      <integer>29</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-73</integer>
      <key>I</key>
      <integer>26</integer>
      <key>J</key>
      <integer>-180</integer>
      <key>O</key>
      <integer>20</integer>
      <key>V</key>
      <integer>21</integer>
      <key>W</key>
      <integer>36</integer>
      <key>X</key>
      <integer>-31</integer>
      <key>Z</key>
      <integer>-25</integer>
      <key>b</key>
      <integer>23</integer>
      <key>f</key>
      <integer>56</integer>
      <key>k</key>
      <integer>22</integer>
      <key>public.kern2.F</key>
      <integer>20</integer>
      <key>t</key>
      <integer>48</integer>
      <key>v</key>
      <integer>36</integer>
      <key>w</key>
      <integer>42</integer>
      <key>x</key>
      <integer>22</integer>
      <key>y</key>
      <integer>33</integer>
      <key>z</key>
      <integer>27</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>A</key>
      <integer>52</integer>
      <key>C</key>
      <integer>45</integer>
      <key>D</key>
      <integer>42</integer>
      <key>G</key>
      <integer>45</integer>
      <key>I</key>
      <integer>51</integer>
      <key>J</key>
      <integer>35</integer>
      <key>K</key>
      <integer>39</integer>
      <key>L</key>
      <integer>38</integer>
      <key>M</key>
      <integer>43</integer>
      <key>O</key>
      <integer>50</integer>
      <key>Q</key>
      <integer>49</integer>
      <key>S</key>
      <integer>30</integer>
      <key>T</key>
      <integer>-30</integer>
      <key>U</key>
      <integer>42</integer>
      <key>W</key>
      <integer>45</integer>
      <key>X</key>
      <integer>48</integer>
      <key>Y</key>
      <integer>-31</integer>
      <key>Z</key>
      <integer>57</integer>
      <key>a</key>
      <integer>37</integer>
      <key>b</key>
      <integer>48</integer>
      <key>c</key>
      <integer>43</integer>
      <key>d</key>
      <integer>44</integer>
      <key>e</key>
      <integer>50</integer>
      <key>f</key>
      <integer>67</integer>
      <key>g</key>
      <integer>55</integer>
      <key>h</key>
      <integer>43</integer>
      <key>j</key>
      <integer>115</integer>
      <key>k</key>
      <integer>47</integer>
      <key>m</key>
      <integer>42</integer>
      <key>n</key>
      <integer>34</integer>
      <key>o</key>
      <integer>43</integer>
      <key>p</key>
      <integer>50</integer>
      <key>public.kern2.B</key>
      <integer>41</integer>
      <key>public.kern2.F</key>
      <integer>45</integer>
      <key>public.kern2.i</key>
      <integer>39</integer>
      <key>q</key>
      <integer>43</integer>
      <key>r</key>
      <integer>39</integer>
      <key>s</key>
      <integer>50</integer>
      <key>t</key>
      <integer>63</integer>
      <key>u</key>
      <integer>48</integer>
      <key>v</key>
      <integer>35</integer>
      <key>w</key>
      <integer>47</integer>
      <key>x</key>
      <integer>62</integer>
      <key>y</key>
      <integer>43</integer>
      <key>z</key>
      <integer>76</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>A</key>
      <integer>53</integer>
      <key>D</key>
      <integer>40</integer>
      <key>I</key>
      <integer>49</integer>
      <key>K</key>
      <integer>37</integer>
      <key>L</key>
      <integer>36</integer>
      <key>M</key>
      <integer>41</integer>
      <key>S</key>
      <integer>22</integer>
      <key>W</key>
      <integer>31</integer>
      <key>X</key>
      <integer>50</integer>
      <key>Y</key>
      <integer>-21</integer>
      <key>Z</key>
      <integer>50</integer>
      <key>b</key>
      <integer>46</integer>
      <key>f</key>
      <integer>42</integer>
      <key>g</key>
      <integer>36</integer>
      <key>h</key>
      <integer>41</integer>
      <key>j</key>
      <integer>45</integer>
      <key>k</key>
      <integer>45</integer>
      <key>m</key>
      <integer>35</integer>
      <key>n</key>
      <integer>27</integer>
      <key>p</key>
      <integer>48</integer>
      <key>public.kern2.B</key>
      <integer>39</integer>
      <key>public.kern2.F</key>
      <integer>43</integer>
      <key>public.kern2.i</key>
      <integer>35</integer>
      <key>r</key>
      <integer>32</integer>
      <key>t</key>
      <integer>37</integer>
      <key>w</key>
      <integer>27</integer>
      <key>x</key>
      <integer>62</integer>
      <key>z</key>
      <integer>61</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-101</integer>
      <key>C</key>
      <integer>-35</integer>
      <key>D</key>
      <integer>29</integer>
      <key>G</key>
      <integer>-37</integer>
      <key>I</key>
      <integer>38</integer>
      <key>J</key>
      <integer>-121</integer>
      <key>K</key>
      <integer>26</integer>
      <key>L</key>
      <integer>24</integer>
      <key>M</key>
      <integer>30</integer>
      <key>O</key>
      <integer>-29</integer>
      <key>Q</key>
      <integer>-31</integer>
      <key>T</key>
      <integer>88</integer>
      <key>U</key>
      <integer>29</integer>
      <key>V</key>
      <integer>58</integer>
      <key>W</key>
      <integer>64</integer>
      <key>X</key>
      <integer>27</integer>
      <key>Y</key>
      <integer>50</integer>
      <key>Z</key>
      <integer>56</integer>
      <key>a</key>
      <integer>-70</integer>
      <key>b</key>
      <integer>35</integer>
      <key>c</key>
      <integer>-117</integer>
      <key>d</key>
      <integer>-92</integer>
      <key>e</key>
      <integer>-100</integer>
      <key>g</key>
      <integer>-81</integer>
      <key>h</key>
      <integer>30</integer>
      <key>j</key>
      <integer>30</integer>
      <key>k</key>
      <integer>34</integer>
      <key>m</key>
      <integer>-93</integer>
      <key>n</key>
      <integer>-101</integer>
      <key>o</key>
      <integer>-116</integer>
      <key>p</key>
      <integer>-98</integer>
      <key>public.kern2.B</key>
      <integer>28</integer>
      <key>public.kern2.F</key>
      <integer>32</integer>
      <key>public.kern2.i</key>
      <integer>24</integer>
      <key>q</key>
      <integer>-105</integer>
      <key>r</key>
      <integer>-96</integer>
      <key>s</key>
      <integer>-59</integer>
      <key>u</key>
      <integer>-99</integer>
      <key>v</key>
      <integer>-122</integer>
      <key>w</key>
      <integer>-112</integer>
      <key>x</key>
      <integer>-116</integer>
      <key>y</key>
      <integer>-118</integer>
      <key>z</key>
      <integer>-104</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>C</key>
      <integer>27</integer>
      <key>D</key>
      <integer>62</integer>
      <key>G</key>
      <integer>28</integer>
      <key>I</key>
      <integer>71</integer>
      <key>K</key>
      <integer>59</integer>
      <key>L</key>
      <integer>57</integer>
      <key>M</key>
      <integer>63</integer>
      <key>O</key>
      <integer>32</integer>
      <key>Q</key>
      <integer>31</integer>
      <key>T</key>
      <integer>26</integer>
      <key>U</key>
      <integer>55</integer>
      <key>W</key>
      <integer>28</integer>
      <key>b</key>
      <integer>68</integer>
      <key>e</key>
      <integer>25</integer>
      <key>f</key>
      <integer>60</integer>
      <key>g</key>
      <integer>20</integer>
      <key>h</key>
      <integer>63</integer>
      <key>j</key>
      <integer>66</integer>
      <key>k</key>
      <integer>67</integer>
      <key>m</key>
      <integer>39</integer>
      <key>n</key>
      <integer>31</integer>
      <key>p</key>
      <integer>37</integer>
      <key>public.kern2.B</key>
      <integer>61</integer>
      <key>public.kern2.F</key>
      <integer>65</integer>
      <key>public.kern2.i</key>
      <integer>55</integer>
      <key>r</key>
      <integer>36</integer>
      <key>s</key>
      <integer>22</integer>
      <key>t</key>
      <integer>45</integer>
      <key>u</key>
      <integer>33</integer>
      <key>w</key>
      <integer>28</integer>
      <key>z</key>
      <integer>33</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-114</integer>
      <key>I</key>
      <integer>22</integer>
      <key>J</key>
      <integer>-87</integer>
      <key>T</key>
      <integer>54</integer>
      <key>V</key>
      <integer>61</integer>
      <key>W</key>
      <integer>65</integer>
      <key>X</key>
      <integer>37</integer>
      <key>Y</key>
      <integer>59</integer>
      <key>Z</key>
      <integer>23</integer>
      <key>a</key>
      <integer>-37</integer>
      <key>c</key>
      <integer>-38</integer>
      <key>d</key>
      <integer>-34</integer>
      <key>e</key>
      <integer>-31</integer>
      <key>g</key>
      <integer>-35</integer>
      <key>m</key>
      <integer>-22</integer>
      <key>n</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-39</integer>
      <key>p</key>
      <integer>-27</integer>
      <key>q</key>
      <integer>-37</integer>
      <key>r</key>
      <integer>-25</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>u</key>
      <integer>-28</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-22</integer>
      <key>C</key>
      <integer>25</integer>
      <key>D</key>
      <integer>27</integer>
      <key>G</key>
      <integer>23</integer>
      <key>I</key>
      <integer>36</integer>
      <key>J</key>
      <integer>-36</integer>
      <key>K</key>
      <integer>24</integer>
      <key>L</key>
      <integer>22</integer>
      <key>M</key>
      <integer>28</integer>
      <key>O</key>
      <integer>31</integer>
      <key>Q</key>
      <integer>29</integer>
      <key>S</key>
      <integer>24</integer>
      <key>T</key>
      <integer>60</integer>
      <key>U</key>
      <integer>27</integer>
      <key>V</key>
      <integer>64</integer>
      <key>W</key>
      <integer>67</integer>
      <key>X</key>
      <integer>37</integer>
      <key>Y</key>
      <integer>59</integer>
      <key>Z</key>
      <integer>41</integer>
      <key>b</key>
      <integer>33</integer>
      <key>f</key>
      <integer>38</integer>
      <key>h</key>
      <integer>28</integer>
      <key>j</key>
      <integer>29</integer>
      <key>k</key>
      <integer>32</integer>
      <key>public.kern2.B</key>
      <integer>26</integer>
      <key>public.kern2.F</key>
      <integer>30</integer>
      <key>public.kern2.i</key>
      <integer>23</integer>
      <key>t</key>
      <integer>38</integer>
      <key>v</key>
      <integer>32</integer>
      <key>w</key>
      <integer>36</integer>
      <key>y</key>
      <integer>30</integer>
      <key>z</key>
      <integer>33</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>A</key>
      <integer>58</integer>
      <key>I</key>
      <integer>22</integer>
      <key>T</key>
      <integer>26</integer>
      <key>V</key>
      <integer>38</integer>
      <key>W</key>
      <integer>40</integer>
      <key>X</key>
      <integer>61</integer>
      <key>Y</key>
      <integer>36</integer>
      <key>Z</key>
      <integer>59</integer>
      <key>f</key>
      <integer>23</integer>
      <key>j</key>
      <integer>35</integer>
      <key>v</key>
      <integer>-31</integer>
      <key>w</key>
      <integer>-22</integer>
      <key>x</key>
      <integer>50</integer>
      <key>z</key>
      <integer>50</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-102</integer>
      <key>C</key>
      <integer>-42</integer>
      <key>G</key>
      <integer>-42</integer>
      <key>J</key>
      <integer>-144</integer>
      <key>O</key>
      <integer>-35</integer>
      <key>Q</key>
      <integer>-37</integer>
      <key>S</key>
      <integer>-20</integer>
      <key>T</key>
      <integer>46</integer>
      <key>V</key>
      <integer>59</integer>
      <key>W</key>
      <integer>61</integer>
      <key>X</key>
      <integer>35</integer>
      <key>Y</key>
      <integer>57</integer>
      <key>a</key>
      <integer>-78</integer>
      <key>c</key>
      <integer>-100</integer>
      <key>d</key>
      <integer>-96</integer>
      <key>e</key>
      <integer>-93</integer>
      <key>g</key>
      <integer>-91</integer>
      <key>m</key>
      <integer>-77</integer>
      <key>n</key>
      <integer>-85</integer>
      <key>o</key>
      <integer>-104</integer>
      <key>p</key>
      <integer>-82</integer>
      <key>q</key>
      <integer>-98</integer>
      <key>r</key>
      <integer>-80</integer>
      <key>s</key>
      <integer>-73</integer>
      <key>u</key>
      <integer>-83</integer>
      <key>v</key>
      <integer>-31</integer>
      <key>w</key>
      <integer>-29</integer>
      <key>x</key>
      <integer>-43</integer>
      <key>y</key>
      <integer>-33</integer>
      <key>z</key>
      <integer>-60</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>A</key>
      <integer>58</integer>
      <key>D</key>
      <integer>51</integer>
      <key>I</key>
      <integer>60</integer>
      <key>J</key>
      <integer>39</integer>
      <key>K</key>
      <integer>48</integer>
      <key>L</key>
      <integer>47</integer>
      <key>M</key>
      <integer>52</integer>
      <key>S</key>
      <integer>21</integer>
      <key>T</key>
      <integer>63</integer>
      <key>U</key>
      <integer>31</integer>
      <key>V</key>
      <integer>48</integer>
      <key>W</key>
      <integer>55</integer>
      <key>X</key>
      <integer>54</integer>
      <key>Y</key>
      <integer>42</integer>
      <key>Z</key>
      <integer>69</integer>
      <key>a</key>
      <integer>36</integer>
      <key>b</key>
      <integer>57</integer>
      <key>f</key>
      <integer>30</integer>
      <key>h</key>
      <integer>52</integer>
      <key>j</key>
      <integer>50</integer>
      <key>k</key>
      <integer>56</integer>
      <key>m</key>
      <integer>35</integer>
      <key>n</key>
      <integer>27</integer>
      <key>p</key>
      <integer>41</integer>
      <key>public.kern2.B</key>
      <integer>50</integer>
      <key>public.kern2.F</key>
      <integer>54</integer>
      <key>public.kern2.i</key>
      <integer>48</integer>
      <key>r</key>
      <integer>32</integer>
      <key>s</key>
      <integer>32</integer>
      <key>t</key>
      <integer>31</integer>
      <key>w</key>
      <integer>35</integer>
      <key>x</key>
      <integer>46</integer>
      <key>z</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>D</key>
      <integer>21</integer>
      <key>I</key>
      <integer>30</integer>
      <key>J</key>
      <integer>32</integer>
      <key>M</key>
      <integer>22</integer>
      <key>O</key>
      <integer>23</integer>
      <key>Q</key>
      <integer>20</integer>
      <key>S</key>
      <integer>22</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>Y</key>
      <integer>-36</integer>
      <key>Z</key>
      <integer>36</integer>
      <key>a</key>
      <integer>28</integer>
      <key>b</key>
      <integer>27</integer>
      <key>c</key>
      <integer>27</integer>
      <key>d</key>
      <integer>28</integer>
      <key>e</key>
      <integer>35</integer>
      <key>f</key>
      <integer>39</integer>
      <key>g</key>
      <integer>28</integer>
      <key>h</key>
      <integer>22</integer>
      <key>j</key>
      <integer>34</integer>
      <key>k</key>
      <integer>26</integer>
      <key>m</key>
      <integer>20</integer>
      <key>o</key>
      <integer>26</integer>
      <key>public.kern2.B</key>
      <integer>20</integer>
      <key>public.kern2.F</key>
      <integer>24</integer>
      <key>q</key>
      <integer>27</integer>
      <key>s</key>
      <integer>30</integer>
      <key>t</key>
      <integer>30</integer>
      <key>v</key>
      <integer>22</integer>
      <key>w</key>
      <integer>21</integer>
      <key>y</key>
      <integer>21</integer>
      <key>z</key>
      <integer>24</integer>
    </dict>
    <key>public.kern1.u09C7</key>
    <dict>
      <key>public.kern2.u01D5</key>
      <integer>-6</integer>
    </dict>
    <key>uni09B809CD.half</key>
    <dict>
      <key>u0248.psts</key>
      <integer>-157</integer>
    </dict>
  </dict>
</plist>
