<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AEacute</key>
    <string>A_E_acute.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aringacute</key>
    <string>aringacute.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u0000</key>
    <string>u0000.glif</string>
    <key>u00AD</key>
    <string>u00A_D_.glif</string>
    <key>u01D5</key>
    <string>u01D_5.glif</string>
    <key>u01D6</key>
    <string>u01D_6.glif</string>
    <key>u01EF</key>
    <string>u01E_F_.glif</string>
    <key>u01F0</key>
    <string>u01F_0.glif</string>
    <key>u01F1</key>
    <string>u01F_1.glif</string>
    <key>u01F2</key>
    <string>u01F_2.glif</string>
    <key>u01F3</key>
    <string>u01F_3.glif</string>
    <key>u01F4</key>
    <string>u01F_4.glif</string>
    <key>u01F5</key>
    <string>u01F_5.glif</string>
    <key>u01F6</key>
    <string>u01F_6.glif</string>
    <key>u01F7</key>
    <string>u01F_7.glif</string>
    <key>u01F8</key>
    <string>u01F_8.glif</string>
    <key>u01F9</key>
    <string>u01F_9.glif</string>
    <key>u0200</key>
    <string>u0200.glif</string>
    <key>u0201</key>
    <string>u0201.glif</string>
    <key>u0202</key>
    <string>u0202.glif</string>
    <key>u0203</key>
    <string>u0203.glif</string>
    <key>u0204</key>
    <string>u0204.glif</string>
    <key>u0205</key>
    <string>u0205.glif</string>
    <key>u0206</key>
    <string>u0206.glif</string>
    <key>u0207</key>
    <string>u0207.glif</string>
    <key>u0208</key>
    <string>u0208.glif</string>
    <key>u0209</key>
    <string>u0209.glif</string>
    <key>u020A</key>
    <string>u020A_.glif</string>
    <key>u020B</key>
    <string>u020B_.glif</string>
    <key>u020C</key>
    <string>u020C_.glif</string>
    <key>u020D</key>
    <string>u020D_.glif</string>
    <key>u0213</key>
    <string>u0213.glif</string>
    <key>u0214</key>
    <string>u0214.glif</string>
    <key>u0215</key>
    <string>u0215.glif</string>
    <key>u0216</key>
    <string>u0216.glif</string>
    <key>u0217</key>
    <string>u0217.glif</string>
    <key>u0218</key>
    <string>u0218.glif</string>
    <key>u0219</key>
    <string>u0219.glif</string>
    <key>u021A</key>
    <string>u021A_.glif</string>
    <key>u021B</key>
    <string>u021B_.glif</string>
    <key>u021C</key>
    <string>u021C_.glif</string>
    <key>u021D</key>
    <string>u021D_.glif</string>
    <key>u021E</key>
    <string>u021E_.glif</string>
    <key>u021F</key>
    <string>u021F_.glif</string>
    <key>u0220</key>
    <string>u0220.glif</string>
    <key>u0221</key>
    <string>u0221.glif</string>
    <key>u0222</key>
    <string>u0222.glif</string>
    <key>u0223</key>
    <string>u0223.glif</string>
    <key>u0225</key>
    <string>u0225.glif</string>
    <key>u0226</key>
    <string>u0226.glif</string>
    <key>u0228</key>
    <string>u0228.glif</string>
    <key>u0229</key>
    <string>u0229.glif</string>
    <key>u022A</key>
    <string>u022A_.glif</string>
    <key>u022B</key>
    <string>u022B_.glif</string>
    <key>u022C</key>
    <string>u022C_.glif</string>
    <key>u022D</key>
    <string>u022D_.glif</string>
    <key>u022E</key>
    <string>u022E_.glif</string>
    <key>u022F</key>
    <string>u022F_.glif</string>
    <key>u0230</key>
    <string>u0230.glif</string>
    <key>u0231</key>
    <string>u0231.glif</string>
    <key>u0232</key>
    <string>u0232.glif</string>
    <key>u0233</key>
    <string>u0233.glif</string>
    <key>u0234</key>
    <string>u0234.glif</string>
    <key>u0235</key>
    <string>u0235.glif</string>
    <key>u0237</key>
    <string>u0237.glif</string>
    <key>u0238</key>
    <string>u0238.glif</string>
    <key>u0239</key>
    <string>u0239.glif</string>
    <key>u023A</key>
    <string>u023A_.glif</string>
    <key>u0240</key>
    <string>u0240.glif</string>
    <key>u0248</key>
    <string>u0248.glif</string>
    <key>u0248.psts</key>
    <string>u0248.psts.glif</string>
    <key>u0249</key>
    <string>u0249.glif</string>
    <key>u0964</key>
    <string>u0964.glif</string>
    <key>u0965</key>
    <string>u0965.glif</string>
    <key>u0980</key>
    <string>u0980.glif</string>
    <key>u0981</key>
    <string>u0981.glif</string>
    <key>u0982</key>
    <string>u0982.glif</string>
    <key>u0983</key>
    <string>u0983.glif</string>
    <key>u0985</key>
    <string>u0985.glif</string>
    <key>u0986</key>
    <string>u0986.glif</string>
    <key>u0987</key>
    <string>u0987.glif</string>
    <key>u0988</key>
    <string>u0988.glif</string>
    <key>u0989</key>
    <string>u0989.glif</string>
    <key>u098A</key>
    <string>u098A_.glif</string>
    <key>u098B</key>
    <string>u098B_.glif</string>
    <key>u098F</key>
    <string>u098F_.glif</string>
    <key>u0990</key>
    <string>u0990.glif</string>
    <key>u0993</key>
    <string>u0993.glif</string>
    <key>u0994</key>
    <string>u0994.glif</string>
    <key>u0995</key>
    <string>u0995.glif</string>
    <key>u0996</key>
    <string>u0996.glif</string>
    <key>u0997</key>
    <string>u0997.glif</string>
    <key>u0998</key>
    <string>u0998.glif</string>
    <key>u0999</key>
    <string>u0999.glif</string>
    <key>u099A</key>
    <string>u099A_.glif</string>
    <key>u099B</key>
    <string>u099B_.glif</string>
    <key>u099C</key>
    <string>u099C_.glif</string>
    <key>u099D</key>
    <string>u099D_.glif</string>
    <key>u099E</key>
    <string>u099E_.glif</string>
    <key>u099F</key>
    <string>u099F_.glif</string>
    <key>u09A0</key>
    <string>u09A_0.glif</string>
    <key>u09A1</key>
    <string>u09A_1.glif</string>
    <key>u09A2</key>
    <string>u09A_2.glif</string>
    <key>u09A3</key>
    <string>u09A_3.glif</string>
    <key>u09A4</key>
    <string>u09A_4.glif</string>
    <key>u09A5</key>
    <string>u09A_5.glif</string>
    <key>u09A6</key>
    <string>u09A_6.glif</string>
    <key>u09A7</key>
    <string>u09A_7.glif</string>
    <key>u09A8</key>
    <string>u09A_8.glif</string>
    <key>u09AA</key>
    <string>u09A_A_.glif</string>
    <key>u09AB</key>
    <string>u09A_B_.glif</string>
    <key>u09AC</key>
    <string>u09A_C_.glif</string>
    <key>u09AD</key>
    <string>u09A_D_.glif</string>
    <key>u09AE</key>
    <string>u09A_E_.glif</string>
    <key>u09AF</key>
    <string>u09A_F_.glif</string>
    <key>u09B0</key>
    <string>u09B_0.glif</string>
    <key>u09B2</key>
    <string>u09B_2.glif</string>
    <key>u09B6</key>
    <string>u09B_6.glif</string>
    <key>u09B7</key>
    <string>u09B_7.glif</string>
    <key>u09B8</key>
    <string>u09B_8.glif</string>
    <key>u09B9</key>
    <string>u09B_9.glif</string>
    <key>u09BC</key>
    <string>u09B_C_.glif</string>
    <key>u09BD</key>
    <string>u09B_D_.glif</string>
    <key>u09BE</key>
    <string>u09B_E_.glif</string>
    <key>u09BF</key>
    <string>u09B_F_.glif</string>
    <key>u09BF.psts</key>
    <string>u09B_F_.psts.glif</string>
    <key>u09BF.psts.1</key>
    <string>u09B_F_.psts.1.glif</string>
    <key>u09BF.psts.2</key>
    <string>u09B_F_.psts.2.glif</string>
    <key>u09C0</key>
    <string>u09C_0.glif</string>
    <key>u09C0.psts</key>
    <string>u09C_0.psts.glif</string>
    <key>u09C1</key>
    <string>u09C_1.glif</string>
    <key>u09C1.psts</key>
    <string>u09C_1.psts.glif</string>
    <key>u09C2</key>
    <string>u09C_2.glif</string>
    <key>u09C2.psts</key>
    <string>u09C_2.psts.glif</string>
    <key>u09C3</key>
    <string>u09C_3.glif</string>
    <key>u09C7</key>
    <string>u09C_7.glif</string>
    <key>u09C7.init</key>
    <string>u09C_7.init.glif</string>
    <key>u09C8</key>
    <string>u09C_8.glif</string>
    <key>u09C8.init</key>
    <string>u09C_8.init.glif</string>
    <key>u09CB</key>
    <string>u09C_B_.glif</string>
    <key>u09CC</key>
    <string>u09C_C_.glif</string>
    <key>u09CD</key>
    <string>u09C_D_.glif</string>
    <key>u09CE</key>
    <string>u09C_E_.glif</string>
    <key>u09D7</key>
    <string>u09D_7.glif</string>
    <key>u09D7.psts</key>
    <string>u09D_7.psts.glif</string>
    <key>u09D7.rphf</key>
    <string>u09D_7.rphf.glif</string>
    <key>u09DC</key>
    <string>u09D_C_.glif</string>
    <key>u09DD</key>
    <string>u09D_D_.glif</string>
    <key>u09DF</key>
    <string>u09D_F_.glif</string>
    <key>u09E6</key>
    <string>u09E_6.glif</string>
    <key>u09E7</key>
    <string>u09E_7.glif</string>
    <key>u09E8</key>
    <string>u09E_8.glif</string>
    <key>u09E9</key>
    <string>u09E_9.glif</string>
    <key>u09EA</key>
    <string>u09E_A_.glif</string>
    <key>u09EB</key>
    <string>u09E_B_.glif</string>
    <key>u09EC</key>
    <string>u09E_C_.glif</string>
    <key>u09ED</key>
    <string>u09E_D_.glif</string>
    <key>u09EE</key>
    <string>u09E_E_.glif</string>
    <key>u09EF</key>
    <string>u09E_F_.glif</string>
    <key>u09F0</key>
    <string>u09F_0.glif</string>
    <key>u09F1</key>
    <string>u09F_1.glif</string>
    <key>u09F3</key>
    <string>u09F_3.glif</string>
    <key>u200C</key>
    <string>u200C_.glif</string>
    <key>u200D</key>
    <string>u200D_.glif</string>
    <key>u20B9</key>
    <string>u20B_9.glif</string>
    <key>u25CC</key>
    <string>u25C_C_.glif</string>
    <key>uFDFA</key>
    <string>uF_D_F_A_.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni01D601F4.pres</key>
    <string>uni01D_601F_4.pres.glif</string>
    <key>uni01D60996.pres</key>
    <string>uni01D_60996.pres.glif</string>
    <key>uni01D609AE.pres</key>
    <string>uni01D_609A_E_.pres.glif</string>
    <key>uni01F009CD09F0.blwf</key>
    <string>uni01F_009C_D_09F_0.blwf.glif</string>
    <key>uni01F209CD09F0.blwf</key>
    <string>uni01F_209C_D_09F_0.blwf.glif</string>
    <key>uni01F209CD09F1.blwf</key>
    <string>uni01F_209C_D_09F_1.blwf.glif</string>
    <key>uni01F509CD09F1.blwf</key>
    <string>uni01F_509C_D_09F_1.blwf.glif</string>
    <key>uni01F909CD09F0.blwf</key>
    <string>uni01F_909C_D_09F_0.blwf.glif</string>
    <key>uni01FC09CD09F1.blwf</key>
    <string>uni01F_C_09C_D_09F_1.blwf.glif</string>
    <key>uni020809CD09F0.blwf</key>
    <string>uni020809C_D_09F_0.blwf.glif</string>
    <key>uni020909CD09F1.blwf</key>
    <string>uni020909C_D_09F_1.blwf.glif</string>
    <key>uni020D09CD09F1.blwf</key>
    <string>uni020D_09C_D_09F_1.blwf.glif</string>
    <key>uni021309CD09F1.blwf</key>
    <string>uni021309C_D_09F_1.blwf.glif</string>
    <key>uni021709CD09F0.blwf</key>
    <string>uni021709C_D_09F_0.blwf.glif</string>
    <key>uni021809CD09F0.blwf</key>
    <string>uni021809C_D_09F_0.blwf.glif</string>
    <key>uni021B09CD09F0.blwf</key>
    <string>uni021B_09C_D_09F_0.blwf.glif</string>
    <key>uni022109C1.blws</key>
    <string>uni022109C_1.blws.glif</string>
    <key>uni022109C2.blws</key>
    <string>uni022109C_2.blws.glif</string>
    <key>uni022F09CD09F0.blwf</key>
    <string>uni022F_09C_D_09F_0.blwf.glif</string>
    <key>uni023309CD09F0.blwf</key>
    <string>uni023309C_D_09F_0.blwf.glif</string>
    <key>uni023409CD09F0.blwf</key>
    <string>uni023409C_D_09F_0.blwf.glif</string>
    <key>uni099509CD09A8.akhn</key>
    <string>uni099509C_D_09A_8.akhn.glif</string>
    <key>uni099509CD09B2.akhn</key>
    <string>uni099509C_D_09B_2.akhn.glif</string>
    <key>uni099509CD09B709CD09A3.akhn</key>
    <string>uni099509C_D_09B_709C_D_09A_3.akhn.glif</string>
    <key>uni099509CD09F1.blwf</key>
    <string>uni099509C_D_09F_1.blwf.glif</string>
    <key>uni099609CD09F0.blwf</key>
    <string>uni099609C_D_09F_0.blwf.glif</string>
    <key>uni099609CD09F1.blwf</key>
    <string>uni099609C_D_09F_1.blwf.glif</string>
    <key>uni099709CD.half</key>
    <string>uni099709C_D_.half.glif</string>
    <key>uni099709CD09A8.akhn</key>
    <string>uni099709C_D_09A_8.akhn.glif</string>
    <key>uni099709CD09AE.akhn</key>
    <string>uni099709C_D_09A_E_.akhn.glif</string>
    <key>uni099709CD09B2.akhn</key>
    <string>uni099709C_D_09B_2.akhn.glif</string>
    <key>uni099709CD09F1.blwf</key>
    <string>uni099709C_D_09F_1.blwf.glif</string>
    <key>uni099809CD09A8.akhn</key>
    <string>uni099809C_D_09A_8.akhn.glif</string>
    <key>uni099809CD09F0.blwf</key>
    <string>uni099809C_D_09F_0.blwf.glif</string>
    <key>uni099809CD09F1.blwf</key>
    <string>uni099809C_D_09F_1.blwf.glif</string>
    <key>uni099909CD09F0.blwf</key>
    <string>uni099909C_D_09F_0.blwf.glif</string>
    <key>uni099A09CD099E.akhn</key>
    <string>uni099A_09C_D_099E_.akhn.glif</string>
    <key>uni099A09CD09F0.blwf</key>
    <string>uni099A_09C_D_09F_0.blwf.glif</string>
    <key>uni099B09CD09F0.blwf</key>
    <string>uni099B_09C_D_09F_0.blwf.glif</string>
    <key>uni099B09CD09F0.blwf.1</key>
    <string>uni099B_09C_D_09F_0.blwf.1.glif</string>
    <key>uni099B09CD09F1.blwf</key>
    <string>uni099B_09C_D_09F_1.blwf.glif</string>
    <key>uni099C09CD09F0.blwf</key>
    <string>uni099C_09C_D_09F_0.blwf.glif</string>
    <key>uni099C09CD09F1.blwf</key>
    <string>uni099C_09C_D_09F_1.blwf.glif</string>
    <key>uni099D09CD09F0.blwf</key>
    <string>uni099D_09C_D_09F_0.blwf.glif</string>
    <key>uni099F09CD09AE.akhn</key>
    <string>uni099F_09C_D_09A_E_.akhn.glif</string>
    <key>uni099F09CD09F0.blwf</key>
    <string>uni099F_09C_D_09F_0.blwf.glif</string>
    <key>uni099F09CD09F0.blwf.1</key>
    <string>uni099F_09C_D_09F_0.blwf.1.glif</string>
    <key>uni099F09CD09F1.blwf</key>
    <string>uni099F_09C_D_09F_1.blwf.glif</string>
    <key>uni09A009CD09F0.blwf</key>
    <string>uni09A_009C_D_09F_0.blwf.glif</string>
    <key>uni09A109CD09F0.blwf</key>
    <string>uni09A_109C_D_09F_0.blwf.glif</string>
    <key>uni09A209CD09F0.blwf</key>
    <string>uni09A_209C_D_09F_0.blwf.glif</string>
    <key>uni09A309CD.half</key>
    <string>uni09A_309C_D_.half.glif</string>
    <key>uni09A309CD09A2.akhn</key>
    <string>uni09A_309C_D_09A_2.akhn.glif</string>
    <key>uni09A309CD09A3.akhn</key>
    <string>uni09A_309C_D_09A_3.akhn.glif</string>
    <key>uni09A309CD09AE.akhn</key>
    <string>uni09A_309C_D_09A_E_.akhn.glif</string>
    <key>uni09A309CD09F0.blwf</key>
    <string>uni09A_309C_D_09F_0.blwf.glif</string>
    <key>uni09A309CD09F1.blwf</key>
    <string>uni09A_309C_D_09F_1.blwf.glif</string>
    <key>uni09A409CD09A8.akhn</key>
    <string>uni09A_409C_D_09A_8.akhn.glif</string>
    <key>uni09A409CD09B2.akhn</key>
    <string>uni09A_409C_D_09B_2.akhn.glif</string>
    <key>uni09A409CD09F1.blwf</key>
    <string>uni09A_409C_D_09F_1.blwf.glif</string>
    <key>uni09A509CD09B2.akhn</key>
    <string>uni09A_509C_D_09B_2.akhn.glif</string>
    <key>uni09A509CD09F0.blwf</key>
    <string>uni09A_509C_D_09F_0.blwf.glif</string>
    <key>uni09A509CD09F1.blwf</key>
    <string>uni09A_509C_D_09F_1.blwf.glif</string>
    <key>uni09A609CD.half</key>
    <string>uni09A_609C_D_.half.glif</string>
    <key>uni09A609CD09A8.akhn</key>
    <string>uni09A_609C_D_09A_8.akhn.glif</string>
    <key>uni09A609CD09AD.akhn</key>
    <string>uni09A_609C_D_09A_D_.akhn.glif</string>
    <key>uni09A609CD09AD09CD09F0.akhn</key>
    <string>uni09A_609C_D_09A_D_09C_D_09F_0.akhn.glif</string>
    <key>uni09A609CD09F0.blwf</key>
    <string>uni09A_609C_D_09F_0.blwf.glif</string>
    <key>uni09A609CD09F0.blwf.1</key>
    <string>uni09A_609C_D_09F_0.blwf.1.glif</string>
    <key>uni09A609CD09F009C1.blwf</key>
    <string>uni09A_609C_D_09F_009C_1.blwf.glif</string>
    <key>uni09A609CD09F009C2.blwf</key>
    <string>uni09A_609C_D_09F_009C_2.blwf.glif</string>
    <key>uni09A709CD09A8.akhn</key>
    <string>uni09A_709C_D_09A_8.akhn.glif</string>
    <key>uni09A709CD09AE.akhn</key>
    <string>uni09A_709C_D_09A_E_.akhn.glif</string>
    <key>uni09A709CD09F0.blwf</key>
    <string>uni09A_709C_D_09F_0.blwf.glif</string>
    <key>uni09A809CD.half</key>
    <string>uni09A_809C_D_.half.glif</string>
    <key>uni09A809CD099C.akhn</key>
    <string>uni09A_809C_D_099C_.akhn.glif</string>
    <key>uni09A809CD09A4.akhn</key>
    <string>uni09A_809C_D_09A_4.akhn.glif</string>
    <key>uni09A809CD09A409CD09F0.akhn</key>
    <string>uni09A_809C_D_09A_409C_D_09F_0.akhn.glif</string>
    <key>uni09A809CD09A409CD09F1.akhn</key>
    <string>uni09A_809C_D_09A_409C_D_09F_1.akhn.glif</string>
    <key>uni09A809CD09A5.akhn</key>
    <string>uni09A_809C_D_09A_5.akhn.glif</string>
    <key>uni09A809CD09A8.akhn</key>
    <string>uni09A_809C_D_09A_8.akhn.glif</string>
    <key>uni09A809CD09AE.akhn</key>
    <string>uni09A_809C_D_09A_E_.akhn.glif</string>
    <key>uni09A809CD09F0.blwf</key>
    <string>uni09A_809C_D_09F_0.blwf.glif</string>
    <key>uni09A809CD09F1.blwf</key>
    <string>uni09A_809C_D_09F_1.blwf.glif</string>
    <key>uni09AA09CD.half</key>
    <string>uni09A_A_09C_D_.half.glif</string>
    <key>uni09AA09CD09A8.akhn</key>
    <string>uni09A_A_09C_D_09A_8.akhn.glif</string>
    <key>uni09AA09CD09B2.akhn</key>
    <string>uni09A_A_09C_D_09B_2.akhn.glif</string>
    <key>uni09AB09CD099F.akhn</key>
    <string>uni09A_B_09C_D_099F_.akhn.glif</string>
    <key>uni09AB09CD09B2.akhn</key>
    <string>uni09A_B_09C_D_09B_2.akhn.glif</string>
    <key>uni09AB09CD09F0.blwf</key>
    <string>uni09A_B_09C_D_09F_0.blwf.glif</string>
    <key>uni09AC09CD09B2.akhn</key>
    <string>uni09A_C_09C_D_09B_2.akhn.glif</string>
    <key>uni09AC09CD09F0.blwf</key>
    <string>uni09A_C_09C_D_09F_0.blwf.glif</string>
    <key>uni09AD09CD09B2.akhn</key>
    <string>uni09A_D_09C_D_09B_2.akhn.glif</string>
    <key>uni09AE09BE09BE.rlig</key>
    <string>uni09A_E_09B_E_09B_E_.rlig.glif</string>
    <key>uni09AE09BE09BE09BE.rlig</key>
    <string>uni09A_E_09B_E_09B_E_09B_E_.rlig.glif</string>
    <key>uni09AE09CD.half</key>
    <string>uni09A_E_09C_D_.half.glif</string>
    <key>uni09AE09CD09AD.akhn</key>
    <string>uni09A_E_09C_D_09A_D_.akhn.glif</string>
    <key>uni09AE09CD09AD09CD09F0.akhn</key>
    <string>uni09A_E_09C_D_09A_D_09C_D_09F_0.akhn.glif</string>
    <key>uni09AE09CD09AE.akhn</key>
    <string>uni09A_E_09C_D_09A_E_.akhn.glif</string>
    <key>uni09AE09CD09B2.akhn</key>
    <string>uni09A_E_09C_D_09B_2.akhn.glif</string>
    <key>uni09AE09CD09F0.blwf</key>
    <string>uni09A_E_09C_D_09F_0.blwf.glif</string>
    <key>uni09AE09CD09F1.blwf</key>
    <string>uni09A_E_09C_D_09F_1.blwf.glif</string>
    <key>uni09AE09CD09F109CD09F0.blwf</key>
    <string>uni09A_E_09C_D_09F_109C_D_09F_0.blwf.glif</string>
    <key>uni09AF09CD09F0.blwf</key>
    <string>uni09A_F_09C_D_09F_0.blwf.glif</string>
    <key>uni09B209CD.half</key>
    <string>uni09B_209C_D_.half.glif</string>
    <key>uni09B209CD09AD.akhn</key>
    <string>uni09B_209C_D_09A_D_.akhn.glif</string>
    <key>uni09B209CD09AE.akhn</key>
    <string>uni09B_209C_D_09A_E_.akhn.glif</string>
    <key>uni09B209CD09B2.akhn</key>
    <string>uni09B_209C_D_09B_2.akhn.glif</string>
    <key>uni09B209CD09B8.akhn</key>
    <string>uni09B_209C_D_09B_8.akhn.glif</string>
    <key>uni09B209CD09F0.blwf</key>
    <string>uni09B_209C_D_09F_0.blwf.glif</string>
    <key>uni09B209CD09F1.blwf</key>
    <string>uni09B_209C_D_09F_1.blwf.glif</string>
    <key>uni09B609CD.half</key>
    <string>uni09B_609C_D_.half.glif</string>
    <key>uni09B609CD09A8.akhn</key>
    <string>uni09B_609C_D_09A_8.akhn.glif</string>
    <key>uni09B609CD09AE.akhn</key>
    <string>uni09B_609C_D_09A_E_.akhn.glif</string>
    <key>uni09B609CD09B2.akhn</key>
    <string>uni09B_609C_D_09B_2.akhn.glif</string>
    <key>uni09B609CD09F0.blwf</key>
    <string>uni09B_609C_D_09F_0.blwf.glif</string>
    <key>uni09B609CD09F1.blwf</key>
    <string>uni09B_609C_D_09F_1.blwf.glif</string>
    <key>uni09B709CD.half</key>
    <string>uni09B_709C_D_.half.glif</string>
    <key>uni09B709CD0995.akhn</key>
    <string>uni09B_709C_D_0995.akhn.glif</string>
    <key>uni09B709CD099509CD09F0.akhn</key>
    <string>uni09B_709C_D_099509C_D_09F_0.akhn.glif</string>
    <key>uni09B709CD09AE.akhn</key>
    <string>uni09B_709C_D_09A_E_.akhn.glif</string>
    <key>uni09B709CD09F0.blwf</key>
    <string>uni09B_709C_D_09F_0.blwf.glif</string>
    <key>uni09B709CD09F1.blwf</key>
    <string>uni09B_709C_D_09F_1.blwf.glif</string>
    <key>uni09B809CD.half</key>
    <string>uni09B_809C_D_.half.glif</string>
    <key>uni09B809CD0995.akhn</key>
    <string>uni09B_809C_D_0995.akhn.glif</string>
    <key>uni09B809CD099509CD09B2.akhn</key>
    <string>uni09B_809C_D_099509C_D_09B_2.akhn.glif</string>
    <key>uni09B809CD099509CD09F0.akhn</key>
    <string>uni09B_809C_D_099509C_D_09F_0.akhn.glif</string>
    <key>uni09B809CD09A5.akhn</key>
    <string>uni09B_809C_D_09A_5.akhn.glif</string>
    <key>uni09B809CD09A8.akhn</key>
    <string>uni09B_809C_D_09A_8.akhn.glif</string>
    <key>uni09B809CD09AE.akhn</key>
    <string>uni09B_809C_D_09A_E_.akhn.glif</string>
    <key>uni09B809CD09B2.akhn</key>
    <string>uni09B_809C_D_09B_2.akhn.glif</string>
    <key>uni09B809CD09F0.blwf</key>
    <string>uni09B_809C_D_09F_0.blwf.glif</string>
    <key>uni09B809CD09F1.blwf</key>
    <string>uni09B_809C_D_09F_1.blwf.glif</string>
    <key>uni09B909CD09A3.akhn</key>
    <string>uni09B_909C_D_09A_3.akhn.glif</string>
    <key>uni09B909CD09B2.akhn</key>
    <string>uni09B_909C_D_09B_2.akhn.glif</string>
    <key>uni09B909CD09F0.blwf</key>
    <string>uni09B_909C_D_09F_0.blwf.glif</string>
    <key>uni09B909CD09F1.blwf</key>
    <string>uni09B_909C_D_09F_1.blwf.glif</string>
    <key>uni09CD09AF.rlig</key>
    <string>uni09C_D_09A_F_.rlig.glif</string>
    <key>uni09CD09F0.blwf</key>
    <string>uni09C_D_09F_0.blwf.glif</string>
    <key>uni09CD09F1.blwf</key>
    <string>uni09C_D_09F_1.blwf.glif</string>
    <key>uni09CD09F1.blwf.1</key>
    <string>uni09C_D_09F_1.blwf.1.glif</string>
    <key>uni09DC09C1.blws</key>
    <string>uni09D_C_09C_1.blws.glif</string>
    <key>uni09DC09C2.blws</key>
    <string>uni09D_C_09C_2.blws.glif</string>
    <key>uni09DC09CD.half</key>
    <string>uni09D_C_09C_D_.half.glif</string>
    <key>uni09DD09C1.blws</key>
    <string>uni09D_D_09C_1.blws.glif</string>
    <key>uni09DD09C2.blws</key>
    <string>uni09D_D_09C_2.blws.glif</string>
    <key>uni09DD09CD09F0.blwf</key>
    <string>uni09D_D_09C_D_09F_0.blwf.glif</string>
    <key>uni09DF09C1.blws</key>
    <string>uni09D_F_09C_1.blws.glif</string>
    <key>uni09DF09C2.blws</key>
    <string>uni09D_F_09C_2.blws.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
