<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>S</string>
    </array>
    <key>public.kern1.u09C7</key>
    <array>
      <string>u09C7</string>
      <string>u09C7.init</string>
      <string>u09C8</string>
      <string>u09C8.init</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>B</string>
      <string>E</string>
      <string>H</string>
      <string>P</string>
      <string>R</string>
    </array>
    <key>public.kern2.F</key>
    <array>
      <string>F</string>
      <string>N</string>
    </array>
    <key>public.kern2._empty_lu.5_st.0_cl.0</key>
    <array/>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>l</string>
    </array>
    <key>public.kern2.u01D5</key>
    <array>
      <string>u01D5</string>
      <string>u01D6</string>
      <string>u021B</string>
      <string>u0232</string>
      <string>u0995</string>
      <string>u0996</string>
      <string>u0998</string>
      <string>u0999</string>
      <string>u099C</string>
      <string>u099D</string>
      <string>u09A1</string>
      <string>u09A3</string>
      <string>u09A4</string>
      <string>u09A8</string>
      <string>u09AA</string>
      <string>u09AB</string>
      <string>u09AC</string>
      <string>u09AD</string>
      <string>u09AF</string>
      <string>u09B0</string>
      <string>u09B2</string>
      <string>u09B6</string>
      <string>u09B7</string>
      <string>u09B8</string>
      <string>u09DC</string>
      <string>u09DF</string>
      <string>uni099709CD.half</string>
      <string>uni09A309CD.half</string>
      <string>uni09A609CD.half</string>
      <string>uni09A809CD.half</string>
      <string>uni09AA09CD.half</string>
      <string>uni09AE09CD.half</string>
      <string>uni09B209CD.half</string>
      <string>uni09B609CD.half</string>
      <string>uni09B709CD.half</string>
      <string>uni09B809CD.half</string>
    </array>
  </dict>
</plist>
